@charset "UTF-8";
/*------------------------------------------ОБНУЛЕНИЕ---------------------------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 11px;
  font-family: "Montserrat";
  font-weight: 600;
}

img {
  vertical-align: top;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*----------------------------------------------CONTAINERS-------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1810px;
  padding: 0 15px;
  margin: 0px auto;
}

._container-2 {
  max-width: 1950px;
  padding: 0 15px;
  margin: 0px auto;
}

/*---------------------HEADER---------------------*/
.header {
  background: #ffffff;
}
.header__container {
  padding: 20px 160px 55px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1540px) {
  .header__container {
    padding: 20px 60px 55px 60px;
  }
}
@media (max-width: 1070px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 775px) {
  .header__container {
    padding: 20px 30px 55px 30px;
  }
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1070px) {
  .header__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 610px) {
  .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__border {
  margin-right: 14px;
  width: 0.15vw;
  max-height: 80px;
  background: #3b393c;
  border-radius: 50%;
}
@media (max-width: 1070px) {
  .header__border {
    display: none;
    margin-right: 0px;
  }
}
.header__label {
  max-width: 371px;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #24173d;
  -webkit-text-stroke: 1px black;
}
@media (max-width: 1070px) {
  .header__label {
    font-size: 16px;
    text-align: center;
  }
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1450px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1070px) {
  .header__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 610px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__phone {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-right: 50px;
  color: #24173d;
}
.header__phone::before {
  position: relative;
  top: 2px;
  content: url("../img/icons/header/phone-icon.svg");
  margin-right: 8px;
}
@media (max-width: 1450px) {
  .header__phone {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 1070px) {
  .header__phone {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media (max-width: 610px) {
  .header__phone {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.header__order-button {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.5px 46px;
  background: #ffc633;
  border-radius: 30px;
  max-height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__order-button:hover {
  background: #000000;
  color: #ffc633;
}

/*------------------------------LOGO----------------------------------*/
.logo {
  margin-right: 45px;
}
@media (max-width: 610px) {
  .logo {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.logo__image {
  margin-bottom: 11px;
}
.logo__subtext {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 12.9255px;
  line-height: 15px;
  text-transform: uppercase;
  color: #24173d;
  -webkit-text-stroke: 1px black;
}

/*---------------------------------------------REAL-ESTATE-------------------------------------------------*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.real-estate {
  padding: 56px 0px 221px 0px;
  position: relative;
}
@media (max-width: 930px) {
  .real-estate {
    padding: 56px 0px 100px 0px;
  }
}

.real-estate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
@media (max-width: 1720px) {
  .real-estate__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1620px) {
  .real-estate__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.real-estate__left {
  max-width: 650px;
  margin-right: 143px;
}
@media (max-width: 1720px) {
  .real-estate__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-right: 40px;
  }
}
@media (max-width: 1620px) {
  .real-estate__left {
    margin-right: 0px;
    margin-bottom: 100px;
  }
}
@media (max-width: 730px) {
  .real-estate__left {
    margin-bottom: 50px;
  }
}
.real-estate__title-one {
  font-weight: 800;
  font-size: 67px;
  line-height: 104%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 730px) {
  .real-estate__title-one {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  .real-estate__title-one {
    font-size: 30px;
  }
}
.real-estate__content-one {
  font-weight: 300;
  font-size: 29px;
  line-height: 104%;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 730px) {
  .real-estate__content-one {
    font-size: 20px;
  }
}
.real-estate__border {
  max-width: 462px;
  height: 0.3vh;
  border-radius: 50%;
  background: #ffffff;
  margin: 0px auto 40px;
}
@media (max-width: 730px) {
  .real-estate__border {
    margin: 0;
    display: none;
  }
}
.real-estate__title-two {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  margin-bottom: 40px;
  color: #ffffff;
}
@media (max-width: 730px) {
  .real-estate__title-two {
    font-size: 28px;
  }
}
.real-estate__content-two {
  font-weight: 400;
  font-size: 24px;
  line-height: 138%;
  color: #ffffff;
}
@media (max-width: 730px) {
  .real-estate__content-two {
    font-size: 20px;
  }
}
.real-estate__right {
  padding: 82px 50px 41px 50px;
  background: #ffc633;
  -webkit-box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
@media (max-width: 930px) {
  .real-estate__right {
    padding: 41px 50px 41px 50px;
  }
}
@media (max-width: 550px) {
  .real-estate__right {
    padding: 20px 25px 20px 25px;
  }
}
@media (max-width: 450px) {
  .real-estate__right {
    padding: 10px 15px 10px 15px;
  }
}
.real-estate__card-title {
  font-weight: 800;
  font-size: 87px;
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #24173d;
}
@media (max-width: 730px) {
  .real-estate__card-title {
    font-size: 45px;
  }
}
@media (max-width: 550px) {
  .real-estate__card-title {
    font-size: 35px;
  }
}
.real-estate__card-dark {
  font-weight: 400;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #24173d;
}
@media (max-width: 730px) {
  .real-estate__card-dark {
    font-size: 24px;
  }
}
@media (max-width: 550px) {
  .real-estate__card-dark {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.real-estate__card-light {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}
@media (max-width: 550px) {
  .real-estate__card-light {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.real-estate__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 950px) {
  .real-estate__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.real-estate__input-name {
  min-width: 385px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 21px 20px;
  letter-spacing: 0.2px;
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
  font-family: "Montserrat";
  color: #5c5c5c;
  margin-right: 20px;
}
@media (max-width: 950px) {
  .real-estate__input-name {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .real-estate__input-name {
    min-width: 150px;
    margin-bottom: 15px;
  }
}
.real-estate__input-surname {
  min-width: 385px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 21px 20px;
  letter-spacing: 0.2px;
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
  font-family: "Montserrat";
  color: #5c5c5c;
}
@media (max-width: 550px) {
  .real-estate__input-surname {
    min-width: 150px;
  }
}
.real-estate__button {
  min-width: 355px;
  font-family: "Montserrat";
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21.5px 36.5px;
  background: #24173d;
  -webkit-box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
          box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 43px;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.real-estate__button:hover {
  background: #ffffff;
  color: #24173d;
}
@media (max-width: 550px) {
  .real-estate__button {
    min-width: 150px;
    margin-top: 15px;
    font-size: 12px;
    padding: 12px 28px;
  }
}
.real-estate .real-estate__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content-two__bold {
  font-weight: 700;
}
.content-two__bold-upper {
  font-weight: 700;
  text-transform: uppercase;
}

/*------------------------------------------ADVANTAGES--------------------------------------------*/
.advantages {
  padding: 80px 0px 60px 0px;
}
.advantages__table {
  border: 5px double black;
  -webkit-box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.25), inset 0px 3px 3px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.25), inset 0px 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
@media (max-width: 700px) {
  .advantages__table {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
}
.advantages__what-we-sell {
  padding: 45px 0px 0px 0px;
  font-weight: 700;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  margin: 0 auto;
  color: #24173d;
}
@media (max-width: 600px) {
  .advantages__what-we-sell {
    font-size: 30px;
  }
}

.table__title {
  position: relative;
  background-color: #ffffff;
  z-index: 3;
  bottom: 36.5px;
  max-width: 567px;
  padding: 4px 30px;
  font-weight: 700;
  font-size: 44px;
  line-height: 136%;
  margin-left: auto;
  margin-right: auto;
  color: #24173d;
  text-align: center;
  display: block;
}
.table__title:before {
  position: absolute;
  content: "";
  height: 4.8px;
  border-left: 1px solid black;
  left: 0px;
  top: 31.5px;
}
@media (max-width: 700px) {
  .table__title:before {
    border: none;
  }
}
.table__title:after {
  position: absolute;
  content: "";
  height: 4.8px;
  border-left: 1px solid black;
  right: -1px;
  top: 31.5px;
}
@media (max-width: 700px) {
  .table__title:after {
    border: none;
  }
}
@media (max-width: 440px) {
  .table__title {
    font-size: 30px;
    padding: 0;
  }
}
.table__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 90px 90px 90px;
}
@media (max-width: 1400px) {
  .table__body {
    padding: 25px 50px 75px 50px;
  }
}
@media (max-width: 840px) {
  .table__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
@media (max-width: 440px) {
  .table__body {
    padding: 0;
  }
}

.item-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.item-table:nth-child(5) {
  padding-left: 15px;
}
.item-table:first-child, .item-table:nth-child(2), .item-table:nth-child(3) {
  padding-bottom: 93px;
}
@media (max-width: 1400px) {
  .item-table:first-child, .item-table:nth-child(2), .item-table:nth-child(3) {
    padding-bottom: 0px;
  }
}
@media (max-width: 1400px) {
  .item-table {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .item-table:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .item-table:nth-child(4), .item-table:nth-child(5) {
    padding-left: 10px;
  }
}
@media (max-width: 1400px) and (max-width: 840px) {
  .item-table {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .item-table:nth-child(5) {
    margin-bottom: 30px;
  }
}
.item-table__image {
  margin-right: 40px;
}
@media (max-width: 440px) {
  .item-table__image {
    margin-right: 20px;
  }
}
.item-table__text {
  max-width: 400px;
  font-weight: 300;
  font-size: 24px;
  line-height: 121%;
  letter-spacing: 0.05em;
  padding-right: 20px;
  color: #24173d;
}
@media (max-width: 1400px) {
  .item-table__text:nth-child(n+2) {
    padding-right: 30px;
  }
}
@media (max-width: 970px) {
  .item-table__text {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .item-table__text {
    font-size: 16px;
  }
  .item-table__text:nth-child(n+2) {
    padding-right: 0px;
  }
}

/*---------------------------------------------EXAMPLES------------------------------------------------*/
.examples {
  padding-bottom: 108px;
}
.examples__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.first-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-example_row1 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  z-index: 3;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.item-example_row2 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.item-example__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item-example__content-one {
  position: relative;
  z-index: 3;
  padding: 291px 190px 30px 190px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .item-example__content-one {
    padding: 150px 100px 30px 100px;
  }
}
@media (max-width: 430px) {
  .item-example__content-one {
    padding: 100px 40px 30px 40px;
  }
}
.item-example__content-two {
  position: relative;
  z-index: 3;
  padding: 291px 350px 30px 350px;
  text-align: center;
}
@media (max-width: 1000px) {
  .item-example__content-two {
    padding: 291px 200px 30px 200px;
  }
}
@media (max-width: 700px) {
  .item-example__content-two {
    padding: 150px 100px 30px 100px;
  }
}
@media (max-width: 430px) {
  .item-example__content-two {
    padding: 100px 40px 30px 40px;
  }
}
.item-example__label {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item-example__label:hover {
  opacity: 0.2;
}
.item-example__link {
  display: inline-block;
  min-width: 256px;
  padding: 13px 50px;
  -webkit-box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
          box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 30px;
  font-size: 16px;
  line-height: 125%;
  color: #24173d;
  background: #fac86e;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-example__link:hover {
  color: #fac86e;
  background: #24173d;
}
@media (max-width: 510px) {
  .item-example__link {
    padding: 13px 20px;
    min-width: 200px;
    font-size: 14px;
  }
}

.last-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*---------------------------------------------------DATA--------------------------------------------------------*/
.data {
  padding-bottom: 110px;
}
@media (max-width: 825px) {
  .data {
    padding-bottom: 55px;
  }
}
.data__container {
  padding-left: 75px;
}
@media (max-width: 1855px) {
  .data__container {
    padding-left: 45px;
  }
}
@media (max-width: 1600px) {
  .data__container {
    padding-left: 15px;
  }
}
.data__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1600px) {
  .data__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.data__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 175%;
  text-transform: uppercase;
  color: #24173d;
  max-width: 692px;
  border-left: 5px solid #24173d;
  padding: 45px 0px 45px 30px;
  margin-right: 131px;
}
@media (max-width: 1910px) {
  .data__title {
    margin-right: 70px;
  }
}
@media (max-width: 1855px) {
  .data__title {
    padding: 45px 0px 45px 20px;
    margin-right: 50px;
  }
}
@media (max-width: 1600px) {
  .data__title {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .data__title {
    margin-top: -50px;
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .data__title {
    margin-top: -50px;
    font-size: 24px;
  }
}
.data__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc633;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px 0px 30px;
}
@media (max-width: 1600px) {
  .data__details {
    margin-top: 50px;
    border-radius: 30px 30px 30px 30px;
  }
}
@media (max-width: 825px) {
  .data__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .data__details > *:not(:last-child) {
    margin-bottom: 60px;
  }
}

.item-details__column {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 89px;
}
@media (max-width: 1855px) {
  .item-details__column {
    padding: 0 49px;
  }
}
@media (max-width: 1600px) {
  .item-details__column {
    max-width: 300px;
  }
  .item-details__column:first-child > :first-child {
    margin-bottom: 30.5px;
  }
}
@media (max-width: 825px) {
  .item-details__column {
    padding: 0;
  }
  .item-details__column:last-child {
    padding-bottom: 20px;
  }
  .item-details__column:first-child > :first-child {
    margin-bottom: 20px;
  }
}
.item-details__column:first-child {
  padding: 50px 89px 50px 50px;
}
@media (max-width: 1855px) {
  .item-details__column:first-child {
    margin-right: -20px;
    padding: 40px 0px;
  }
}
@media (max-width: 825px) {
  .item-details__column:first-child {
    margin-right: 0px;
    padding: 20px 0px 0px 0px;
  }
  .item-details__column:first-child:last-child {
    padding-bottom: 20px;
  }
}
.item-details__column:first-child > :last-child {
  margin-top: 20px;
}
.item-details__column:first-child > :nth-child(2) {
  text-shadow: #000 0 0 2.5px;
  -webkit-box-shadow: 0px 3px 2px -2px rgba(50, 50, 50, 0.5), inset 0px 3px 2px -2px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 3px 2px -2px rgba(50, 50, 50, 0.5), inset 0px 3px 2px -2px rgba(50, 50, 50, 0.5);
}
.item-details__column:nth-child(3) > :last-child, .item-details__column:nth-child(5) > :last-child {
  margin-top: 31px;
}
.item-details__start {
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.item-details__figures {
  font-weight: 800;
  font-size: 69px;
  line-height: 123%;
  color: #24173d;
  padding: 2px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.item-details .figures__letters {
  font-size: 30px;
  line-height: 123%;
  margin-right: -8px;
}
.item-details__end {
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.item-details__border {
  width: 3px;
  height: 146px;
  background: #ffffff;
  opacity: 0.2;
}
@media (max-width: 825px) {
  .item-details__border {
    display: none;
  }
}

/*---------------------------------------CONSULTATION---------------------------------------------*/
.consultation {
  padding: 78px 0px 92px 0px;
  position: relative;
}
@media (max-width: 470px) {
  .consultation {
    padding: 55px 0px 46px 0px;
  }
}
.consultation__container {
  position: relative;
  z-index: 3;
}
.consultation__title {
  font-weight: 800;
  font-size: 44px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 470px) {
  .consultation__title {
    font-size: 36px;
  }
}
.consultation__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}
@media (max-width: 470px) {
  .consultation__text {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
.consultation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1060px) {
  .consultation__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.consultation__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #383838;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  min-width: 385px;
  margin-right: 20px;
}
@media (max-width: 1060px) {
  .consultation__name {
    min-width: 440px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 470px) {
  .consultation__name {
    min-width: 280px;
  }
}
.consultation__phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #383838;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  min-width: 385px;
  margin-right: 20px;
}
@media (max-width: 1060px) {
  .consultation__phone {
    min-width: 440px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 470px) {
  .consultation__phone {
    min-width: 280px;
  }
}
.consultation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: #24173d;
  padding: 17.5px 64.5px;
  background: #ffc633;
  border-radius: 5px;
}
.consultation__button:hover {
  background: #24173d;
  color: #ffc633;
}
.consultation__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer {
  padding: 70px 0px 0px 0px;
}
.footer__logo {
  margin-right: 0;
  text-align: center;
  margin-bottom: 40px;
}

.copyright__content {
  background-color: rgba(230, 229, 234, 0.15);
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-family: "Century Gothic";
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #4a4a4a;
}
.copyright__first-line {
  margin-bottom: 10px;
}
.copyright__highlight {
  color: #f8b500;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */